@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@5  00&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  transition: all 0.01s;
  overflow-x: hidden;
}

.nav {
  height: 100px;
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  padding: 0 4% 0 8%;
  position: fixed;
  justify-content: space-between;
  z-index: 99;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(20px);
}
.nav .links {
  display: flex;
  gap: 5vw;
  align-items: center;
}
.nav img {
  max-height: 100px;
}
.menu-icon {
  height: 55px;
  display: none;
  filter: invert(1);
}
.nav h4 {
  text-transform: uppercase;
  font-weight: 600;
}
.nav h1 {
  text-transform: uppercase;
  font-weight: 700;

  font-family: "Cutive Mono", monospace;
}

#main {
  position: relative;
  background-color: #8696fe;
  z-index: 20;
}
.hidden {
  height: 0;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/* .main-logo {
} */
#page-1 img {
  margin-top: 2rem;
  height: 50%;
  z-index: 6;
}
#page-1 {
  height: 100vh;
  width: 100%;
  background-color: #8696fe;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page-1 h1 {
  font-size: 140px;
  font-weight: 900;
  position: relative;
}
#page-1 h2 {
  margin-top: 1rem;
  font-size: 2.7rem;
  font-weight: 750;
  /* color: transparent; */
  font-family: "Cutive Mono", monospace;
  /* -webkit-text-stroke: 1px #0080d0; */
}

#page-1 p {
  font-size: 15px;
  font-weight: 400;
  width: 35%;
}
#page-2 {
  height: 100vh;
  width: 100%;
  background-color: #00000030;
  z-index: 10;
}

#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  z-index: 20;
  /* bottom: 10%; */
  /* transform: rotate(-20deg); */
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}

#scroller-in div {
  display: inline-flex;
  justify-content: center;
  margin: 4rem;
  width: 14rem;
  height: 14rem;
  border-radius: 1rem;
}
#scroller-in-2 {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
  animation-direction: reverse;
}
#scroller h4 {
  display: inline-block;
  font-size: 140px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 10px;
  color: transparent;
  transition: all ease-in 0.3s;
  -webkit-text-stroke: 2px #4394c731;
  margin-right: 4rem;
}

#scroller h4:hover {
  /* color: #4394c78e; */
  cursor: default;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page-3 {
  height: 100vh;
  width: 100%;
  background-color: #00000030;
  z-index: 10;
}
.navName {
  display: none;
}
@media only screen and (max-width: 600px) {
  #page-1 {
    background-image: url(./assets/s1.png);
    width: 100%;
    background-color: #000000;
    padding-top: 70px;
    justify-content: flex-start;
  }
  #page-1 h2 {
    /* font-family: poppins; */
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  #main {
    background-color: #000000;
  }
  #page-1 img {
    margin: 2rem 0 1rem;
    height: 20%;

  }
  #page-1 h2 {
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin-top: 0;
    font-size: 1.7rem;
    font-weight: 750;
    /* color: transparent; */
    /* font-family: "Cutive Mono", monospace; */
    /* -webkit-text-stroke: 0.3px #0080d0; */
  }
  .nav {
    height: 70px;
    font-family: "Poppins", sans-serif;
  }
  .nav h1 {
    font-family: "Poppins", sans-serif;
  }
  .nav .links {
    display: none;
  }
  .menu-icon {
    display: initial;
  }
  .logo-name {
    gap: 1rem;
  }
  .navName {
    display: initial;
    color: aliceblue;
  }
  .navNameDekstop {
    display: none;
  }
  #TVIR {
    /* background: #fcfcfc; */
    color: #ffc400;
    display: block;
    margin-top: 10%;
    font-size: 2rem;
    /* font-weight: 900; */
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
    padding: 0 7%;
  }
  .navName{
    font-size: 1.7rem;
  }
}

.box {
  height: 300px;
  width: 300px;
  background-color: crimson;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
